body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #ffffff;
}

.container{
    width: 780px;
    border-radius: 20px;
    padding: 35px 40px;
    border: 1px solid #ff0000;
}

header h2{
    font-size: 1.6rem;

}

header .column{
    display: flex;
    align-items: center;
}

header .column span {
    font-weight: 500;
    margin-right: 15px;
    font-size: 1.19rem;
}

.volume-slider input {
    accent-color: #fff;
}

.keys-check input{
    width: 60px;
    height: 30px;
    appearance: none;
    border-radius: 30px;
    background-color: rgb(37, 35, 35);
    cursor: pointer;
    position: relative;
}

.keys-check input::before{
    content: "";
    height: 20px;
    width: 20px;
    background-color: #969393;
    top: 50%;
    left: 0.3rem;
    border-radius: inherit;
    position: absolute;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}

.keys-check input:checked::before{
    left: 2.1rem;
    background-color: #969393;

}